<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <title>TimQwees Technology - Account</title>
  <meta content="Пройдите регистрацию, чтобы перейти в онлайн чат политеха" name="description" />
  <meta content="TimQwees Technology" property="og:title" />
  <meta content="Пройдите регистрацию, чтобы перейти в онлайн чат политеха" property="og:description" />
  <meta content="img/favicon.ico" property="og:image" />
  <meta property="og:type" content="website" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../../../../public/src/css/style.css">
  <script defer src="../../../../public/pages/account/view/js/referrer.js"></script>
  <!-- TRANSLATED -->
  <script defer src="../../../../public/src/js/lang.js"></script>
</head>

<body>
  <main>
    <div class="sidebar">
      <div class="profile">
        <div class="profile-img">
          <img src="https://cdn-icons-png.flaticon.com/512/3385/3385696.png" alt="Developer">
        </div>
        <div class="profile-info">
          <h2>
            <?php echo htmlspecialchars($currentUser['username']); ?>
          </h2>
          <p>Группа:
            <?php echo htmlspecialchars($currentUser['group']); ?>
          </p>
        </div>
      </div>
      <div class="separator"></div>
      <nav>
        <ul>
          <li>
            <a href="/search/account">
              <div class="icon-box">
                <ion-icon name="home-outline"></ion-icon>
              </div>
              <span>Главная</span>
            </a>
          </li>
          <li>
            <a href="/search/account/blogs" class="active">
              <div class="icon-box">
                <ion-icon name="newspaper-outline"></ion-icon>
              </div>
              <span>Блоги</span>
            </a>
          </li>
          <li>
            <a href="/search/account/setting">
              <div class="icon-box">
                <ion-icon name="settings-outline"></ion-icon>
              </div>
              <span>Настройки</span>
            </a>
          </li>
          <li>
            <a href="/search/logout">
              <div class="icon-box">
                <ion-icon name="log-out-outline"></ion-icon>
              </div>
              <span>Выход</span>
            </a>
          </li>
          <li>
            <!-- ##### TRANSALTED #### -->
            <div id="google_translate_element"></div>
          </li>
        </ul>
      </nav>
    </div>
    <div class="article_wrap" style="overflow-y: scroll;max-height: 100vh;">
      <article>
        <div class="content">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Apple_Developer_brandmark.svg/2560px-Apple_Developer_brandmark.svg.png"
            alt="Developer" height="100px">
          <div class="content-text">
            <span>Email:
              <?php echo htmlspecialchars($currentUser['mail']); ?>!
            </span>
            <span class="<?php echo $message['type']; ?>">
              <?php echo $message['message']; ?>
            </span>
          </div>
        </div>
      </article>

      <article id="blog">
        <a id="referrer-title"></a>
        <div class="content">
          <h2>Читать статьи</h2>
          <div class="blog-posts">
            <?php if ($articles): ?>
            <?php foreach ($articles as $article): ?>
            <div class="post">
              <h3>
                <?php echo htmlspecialchars($article['title']); ?>
              </h3>
              <p>
                <?php echo nl2br(htmlspecialchars($article['content'])); ?>
              </p>
              <div class="post-meta">
                <span class="author">Автор:
                  <?php echo htmlspecialchars($article['username']); ?>
                </span>
                <span class="date">
                  <?php echo date('d.m.Y', strtotime($article['created_at'])); ?>
                </span>
              </div>
            </div>
            <?php endforeach; ?>
            <?php else: ?>
            <p>Пока нет статей</p>
            <?php endif; ?>
          </div>
        </div>
      </article>

    </div>
  </main>
  <script defer type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script defer nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>